// Google Font Link
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
// Google Font Link

:root {
    // --body-bg: ;
    --primary-color: #000;
    --secondery-color: #adadad;
    --title-size: 2rem;
    --primary-bg-color: #F0F0F0;
    --font-family: 'Raleway', sans-serif;
}

//  Reset Tag Default Style
body {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

fieldset,
input,
textarea,
button {
    border-width: 0;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-shadow: none;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
}

form * {
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
}

.def-title-sec {
    text-align: center;
    margin-bottom: 50px;

    .title {
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 2.5px;
    }

    .description {
        color: var(--secondery-color);
    }
}

//=========== Header CSS ===========
.header-section {
    display: block;
    height: 80px;
    background-color: #040100;
    display: flex;
    align-items: center;
    box-shadow: 10px 8px 3px 3px #000;

    .logo {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: var(--title-size);

        a {
            color: rgb(255, 255, 255) !important;
        }

        span {
            color: yellow;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: end;

        li {
            margin: 10px 10px;

            a {
                padding: 10px 20px;
                color: var(--secondery-color);
            }
        }
    }
}

//=========== Header CSS End ===========

//=========== Hero CSS ===========
.hero-section {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/hero-section-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    color: #fff;

    .hero-content {
        #title {
            font-size: 3rem;
            font-family: poppins;
            text-transform: uppercase;
            letter-spacing: 8px;
            line-height: 65px;
        }

        #describe {
            width: 700px;
            font-size: 1.3em;
            margin: 16px 0;

            span {
                color: yellow;
                font-weight: 500;
            }
        }

        #heroBtn {
            outline: none;
            background: transparent;
            color: #fff;
            font-weight: 500;
            padding: 10px 30px;
            border: 2px solid yellow;
            margin-top: 2em;
        }
    }
}

//=========== Hero CSS End ===========


//=========== Feature CSS ===========
.feature-section {
    background: var(--primary-bg-color);
    height: 550px;
    display: flex;
    align-items: center;

    .feature-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        margin: auto;

        .content-box {
            background: #fff;
            padding: 30px 40px;
            border-radius: 10px 0 0 10px;
            margin-right: -35px;

            #feature-title {
                margin-bottom: 5px;
                font-size: 1.5em;
                border-bottom: 1px solid #ddd;
                padding-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
            }

            #feature-description {
                width: 500px;
                color: var(--secondery-color);
            }
        }


        .feature-img {
            img {
                max-width: 250px;
                height: 250px;
                border-radius: 50%;
                box-shadow: 0 0 0 10px #ddd, 0 0 0 20px #fff;
            }
        }
    }
}

//=========== Feature CSS End ===========

//=========== Team CSS ===========
.team-section {
    background: var(--primary-bg-color);
    padding: 100px 0;
    position: relative;

    .team-sec {
        display: flex;
        justify-content: center;
        margin-left: -100px;

    }

    .team-card {
        width: 300px;
        margin-right: -100px;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        transition: visibility 300ms ease-in;

        &::after {
            content: attr(data-name);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            border-radius: 10px;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            color: #fff;
            font-weight: 900;
            font-size: 2em;
            padding-top: 70%;
            padding-left: 40px;
            border: 1px solid #fff;
            cursor: pointer;
            border-radius: 10px;
            // box-shadow: inset 0px 0px 0px 10px,
            // inset 0px 0px 0px 11px #fff;
            box-sizing: border-box;
        }

        &:hover {
            margin-right: 0;

            &::after {
                opacity: 1;
            }
        }

        // &:hover {
        //     .team-name {
        //         display: block;
        //         display: flex;
        //         align-items: center;
        //         cursor: pointer;
        //     }
        // }
        img {
            max-width: 300px;
            border-radius: 10px;
        }
    }
}

//=========== Team CSS End ===========

//=========== Gallery CSS ===========
.gallery-section {
    .masonary {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-flow: dense;

        .big {
            grid-auto-rows: 200px;
            grid-auto-flow: dense;
        }

        .tall {
            grid-row: span 2;
        }

        .wide {
            grid-column: span 2;

        }

        .gallery-img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0;
            transition: transform 250ms ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
                transition: 200ms ease-in-out;

            }


            .img-details {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.4);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: end;
                color: #fff;
                padding: 20px;
                opacity: 0;
                transition: opacity 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

                h3 {
                    text-transform: uppercase;
                    margin-bottom: 4px;
                    font-weight: 700;
                    text-shadow: 0 3px 2px rgb(0, 0, 0);
                }

                p {
                    text-shadow: 0 2px 2px rgb(0, 0, 0);

                }

                button {
                    background-color: transparent;
                    color: yellow;
                    border: 1px solid yellow;
                    padding: 5px 25px;
                    margin-top: 5px;
                }
            }

            &:hover {
                .img-details {
                    opacity: 1;
                }

                cursor: pointer;
                transform: translate3d(-1.5em, -10px, 50px);
                border-radius: 5px;
                box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
                z-index: 999;
            }
        }
    }
}

//=========== Gallery CSS End ===========


//=========== Footer CSS ===========
//=========== Footer CSS ===========
//=========== Footer CSS ===========
//=========== Contact CSS ===========
.contact-section {
    margin: 150px 0;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../images/footerContact.jpg);
    // background: rgb(10, 195, 241);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    color: #fff !important;

    .form {
        padding: 10vh 10vw;

        .form__informations {
            width: 100%;
            margin-bottom: 30px;

            .form__item {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px;
                border-bottom: solid 1px grey;
                position: relative;
                overflow: hidden;
                margin-bottom: 10px;

                .form__instruction {
                    width: 250px;

                    .form__to-fill {
                        width: calc(100% - 250px);
                        color: grey;
                        padding-left: 50px;
                    }
                    #name{
                        &:focus {
                            color: lightgray !important;
                        }
                    }
                    .form__animation {
                        background-color: black;
                        width: calc(100% - 250px);
                        position: absolute;
                        bottom: -100%;
                        left: 250px;
                        height: 100%;
                        transition: all 0.25s ease-out;
                        z-index: -1;
                    }
                }
            }
            .form__item--top {
                align-items: flex-start;
                .form__to-fill--textarea {
                    height: 100px;
                }
                .form__to-fill:focus + span {
                    bottom: 0;
                }
                .form__to-fill{
                    &:focus {
                        color: lightgray !important;
                    }
                }
            }
        }

        .form__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            overflow: hidden;
            padding: 20px;

            .form__checkboxe {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                cursor: pointer;

                span {
                    margin-left: -20px;
                    padding-left: 30px;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border: solid 1px #fff;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                input {
                    opacity: 0;
                }
            }
            .form__submit {
                display: block;
                color: #fff;
                text-transform: uppercase;
                position: relative;
                cursor: pointer;
            }
            .form__submit:before, .form__checkboxe span::before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: auto;
                right: 0;
                width: 0;
                height: 1px;
                background-color: #fff;
                transition: width 0.25s ease-out;
            }
        }
        .form__checkboxe input:focus + span:before, .form__checkboxe input:hover + span:before  {
            left: 0;
            width: 100%;
        }
        .form__checkboxe input:checked + span:after {
            background-color: #fff;
        }
        .form__submit:hover:before, .form__submit:focus:before {
            left: 0;
            width: 100%;
        }
        .form__item--error {
            border-color: tomato;
        }
        
        .form__item--error .form__animation {
            background-color: tomato;
            bottom: 0;
        }
        
        .form__item--error .form__to-fill {
            color: white;
        }
        
        .form__checkboxe--error {
            color: tomato;
        }
        
        .form__checkboxe--error span:after {
            border-color: tomato;
        }

    }
    @media (max-width: 800px) {
        /* Block */
        .form__instruction {
            width: 170px;
        }
    
        /* Element */
        .form__to-fill {
            width: calc(100% - 170px);
            padding-left: 0;
        }
    
        .form__animation {
            width: calc(100% - 170px);
            left: 170px;
        }
    
    }
    
    @media (max-width: 550px) {
    
        /* Block */
        .form {
            position: relative;
            transform: none;
            padding: 0 20px;
        }
    
        .form__informations {
            margin-bottom: 0;
        }
    
        .form__bottom {
            padding-left: 0;
            padding-right: 0;
        }
    
        /* Elements */
        .form__item {
            display: block;
            margin-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
        }
    
        .form__instruction {
            width: 100%;
            margin-bottom: 20px;
            display: block;
        }
    
        .form__to-fill {
            width: 100%;
            padding-left: 0;
            display: block;
        }
    
        .form__to-fill--textarea {
            height: auto;
        }
    
        .form__animation {
            left: 0;
            height: 5px;
            width: 100%;
        }
    }
}

//=========== Contact CSS ===========
//=========== Footer CSS End ===========
//=========== Footer CSS End ===========
//=========== Footer CSS End ===========