@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #000;
  --secondery-color: #adadad;
  --title-size: 2rem;
  --primary-bg-color: #F0F0F0;
  --font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset,
input,
textarea,
button {
  border-width: 0;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

form * {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
}

.def-title-sec {
  text-align: center;
  margin-bottom: 50px;
}
.def-title-sec .title {
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 2.5px;
}
.def-title-sec .description {
  color: var(--secondery-color);
}

.header-section {
  display: block;
  height: 80px;
  background-color: #040100;
  display: flex;
  align-items: center;
  box-shadow: 10px 8px 3px 3px #000;
}
.header-section .logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: var(--title-size);
}
.header-section .logo a {
  color: rgb(255, 255, 255) !important;
}
.header-section .logo span {
  color: yellow;
}
.header-section ul {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header-section ul li {
  margin: 10px 10px;
}
.header-section ul li a {
  padding: 10px 20px;
  color: var(--secondery-color);
}

.hero-section {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../images/hero-section-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  color: #fff;
}
.hero-section .hero-content #title {
  font-size: 3rem;
  font-family: poppins;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 65px;
}
.hero-section .hero-content #describe {
  width: 700px;
  font-size: 1.3em;
  margin: 16px 0;
}
.hero-section .hero-content #describe span {
  color: yellow;
  font-weight: 500;
}
.hero-section .hero-content #heroBtn {
  outline: none;
  background: transparent;
  color: #fff;
  font-weight: 500;
  padding: 10px 30px;
  border: 2px solid yellow;
  margin-top: 2em;
}

.feature-section {
  background: var(--primary-bg-color);
  height: 550px;
  display: flex;
  align-items: center;
}
.feature-section .feature-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  margin: auto;
}
.feature-section .feature-content .content-box {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px 0 0 10px;
  margin-right: -35px;
}
.feature-section .feature-content .content-box #feature-title {
  margin-bottom: 5px;
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.feature-section .feature-content .content-box #feature-description {
  width: 500px;
  color: var(--secondery-color);
}
.feature-section .feature-content .feature-img img {
  max-width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #ddd, 0 0 0 20px #fff;
}

.team-section {
  background: var(--primary-bg-color);
  padding: 100px 0;
  position: relative;
}
.team-section .team-sec {
  display: flex;
  justify-content: center;
  margin-left: -100px;
}
.team-section .team-card {
  width: 300px;
  margin-right: -100px;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  transition: visibility 300ms ease-in;
}
.team-section .team-card::after {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  color: #fff;
  font-weight: 900;
  font-size: 2em;
  padding-top: 70%;
  padding-left: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
}
.team-section .team-card:hover {
  margin-right: 0;
}
.team-section .team-card:hover::after {
  opacity: 1;
}
.team-section .team-card img {
  max-width: 300px;
  border-radius: 10px;
}

.gallery-section .masonary {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.gallery-section .masonary .big {
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.gallery-section .masonary .tall {
  grid-row: span 2;
}
.gallery-section .masonary .wide {
  grid-column: span 2;
}
.gallery-section .masonary .gallery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  transition: transform 250ms ease-in-out;
}
.gallery-section .masonary .gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  transition: 200ms ease-in-out;
}
.gallery-section .masonary .gallery-img .img-details {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.gallery-section .masonary .gallery-img .img-details h3 {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-weight: 700;
  text-shadow: 0 3px 2px rgb(0, 0, 0);
}
.gallery-section .masonary .gallery-img .img-details p {
  text-shadow: 0 2px 2px rgb(0, 0, 0);
}
.gallery-section .masonary .gallery-img .img-details button {
  background-color: transparent;
  color: yellow;
  border: 1px solid yellow;
  padding: 5px 25px;
  margin-top: 5px;
}
.gallery-section .masonary .gallery-img:hover {
  cursor: pointer;
  transform: translate3d(-1.5em, -10px, 50px);
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.gallery-section .masonary .gallery-img:hover .img-details {
  opacity: 1;
}

.contact-section {
  margin: 150px 0;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../images/footerContact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  color: #fff !important;
}
.contact-section .form {
  padding: 10vh 10vw;
}
.contact-section .form .form__informations {
  width: 100%;
  margin-bottom: 30px;
}
.contact-section .form .form__informations .form__item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px grey;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.contact-section .form .form__informations .form__item .form__instruction {
  width: 250px;
}
.contact-section .form .form__informations .form__item .form__instruction .form__to-fill {
  width: calc(100% - 250px);
  color: grey;
  padding-left: 50px;
}
.contact-section .form .form__informations .form__item .form__instruction #name:focus {
  color: lightgray !important;
}
.contact-section .form .form__informations .form__item .form__instruction .form__animation {
  background-color: black;
  width: calc(100% - 250px);
  position: absolute;
  bottom: -100%;
  left: 250px;
  height: 100%;
  transition: all 0.25s ease-out;
  z-index: -1;
}
.contact-section .form .form__informations .form__item--top {
  align-items: flex-start;
}
.contact-section .form .form__informations .form__item--top .form__to-fill--textarea {
  height: 100px;
}
.contact-section .form .form__informations .form__item--top .form__to-fill:focus + span {
  bottom: 0;
}
.contact-section .form .form__informations .form__item--top .form__to-fill:focus {
  color: lightgray !important;
}
.contact-section .form .form__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}
.contact-section .form .form__bottom .form__checkboxe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.contact-section .form .form__bottom .form__checkboxe span {
  margin-left: -20px;
  padding-left: 30px;
}
.contact-section .form .form__bottom .form__checkboxe span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact-section .form .form__bottom .form__checkboxe input {
  opacity: 0;
}
.contact-section .form .form__bottom .form__submit {
  display: block;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.contact-section .form .form__bottom .form__submit:before, .contact-section .form .form__bottom .form__checkboxe span::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: auto;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.25s ease-out;
}
.contact-section .form .form__checkboxe input:focus + span:before, .contact-section .form .form__checkboxe input:hover + span:before {
  left: 0;
  width: 100%;
}
.contact-section .form .form__checkboxe input:checked + span:after {
  background-color: #fff;
}
.contact-section .form .form__submit:hover:before, .contact-section .form .form__submit:focus:before {
  left: 0;
  width: 100%;
}
.contact-section .form .form__item--error {
  border-color: tomato;
}
.contact-section .form .form__item--error .form__animation {
  background-color: tomato;
  bottom: 0;
}
.contact-section .form .form__item--error .form__to-fill {
  color: white;
}
.contact-section .form .form__checkboxe--error {
  color: tomato;
}
.contact-section .form .form__checkboxe--error span:after {
  border-color: tomato;
}
@media (max-width: 800px) {
  .contact-section .form__instruction {
    width: 170px;
  }
  .contact-section .form__to-fill {
    width: calc(100% - 170px);
    padding-left: 0;
  }
  .contact-section .form__animation {
    width: calc(100% - 170px);
    left: 170px;
  }
}
@media (max-width: 550px) {

  .contact-section .form {
    position: relative;
    transform: none;
    padding: 0 20px;
  }
  .contact-section .form__informations {
    margin-bottom: 0;
  }
  .contact-section .form__bottom {
    padding-left: 0;
    padding-right: 0;
  }
  .contact-section .form__item {
    display: block;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-section .form__instruction {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  .contact-section .form__to-fill {
    width: 100%;
    padding-left: 0;
    display: block;
  }
  .contact-section .form__to-fill--textarea {
    height: auto;
  }
  .contact-section .form__animation {
    left: 0;
    height: 5px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */